export(catenary)
export(f)
export(fitCat)
export(fitCatEndPts)
export(fitMaxCat)
export(fitNaturalCat)
export(fittedCatenary)
export(getCatLength)
export(getFunctionEnvelopeCat)
export(getFunctionEnvelopePara)
export(minmaxLength)
exportClasses(catenary)
exportClasses(fittedCatenary)
exportMethods(getPoints)
exportMethods(L)
exportMethods(minmax)
exportMethods(plot)
exportMethods(Summary)
exportMethods(vertex)
